<div class="post">
  <div class="post-main">
  {% if not username %}
  <div class="login-to">Want to Comment or like the post?? Then Login !!!!</div>
  {% endif %}
   
    <div class="post-title">
      <a href="/edit/{{id_blog}}">{{p.subject}}</a>
    </div>
    <div class="post-date">
      <i class="fa fa-clock-o"></i>&nbsp &nbsp{{p.created.strftime("%b %d, %Y")}}&nbsp &nbsp
      <i class="fa fa-comments-o"></i>&nbsp &nbsp{{count_comment}}&nbsp Comments&nbsp &nbsp
      <i class="fa fa-thumbs-o-up"></i>&nbsp &nbsp {{count_like}} &nbsp &nbsp
      <i class="fa fa-thumbs-o-down"></i>&nbsp &nbsp {{count_dislike}} 
    </div>
  <div class="post-content">
  <i class="fa fa-quote-left fa-1x fa-pull-left "></i>
    <div>{{p._render_text | safe}}</div>
    <i class="fa fa-quote-right fa-1x fa-pull-right "></i>
  </div>
  </div>
  
  <br>
  <div class="post-details">
    <div class="details-author">
      <i class="fa fa-pencil"></i>
      &nbsp By: &nbsp{{p.blog_author.name}}
    </div>
    {% if display == 1 and not c %}
    <div class="like-dislike">
    <div class="like-form">
      <form method="post">
        <input type="hidden" name="like" value="1">
        {% if err == 1 %}
        <div class="error">You can't like more than once!</div>
        {% endif %}
        <button type="submit"><i class="fa fa-thumbs-o-up"></i></button>
      </form>
    </div>
    <div class="like-form">
      <form method="post">
        <input type="hidden" name="dislike" value="1">
        {% if err == 2 %}
        <div class="error">You can't dislike more than once!</div>
        {% endif %}
        <button type="submit" ><i class="fa fa-thumbs-o-down"></i></span></button>
      </form>
    </div>
      {% if err == 3 %}
        <div class="error">You can't like/dislike your own post!</div>
        {% endif %}
    </div>
    {% endif %}
    {% if username %}
    {% if p.blog_author.name == username %}
      <div class="details-edit">
        <a href="/editing/{{id_blog}}">
      Edit
      </a>
      </div>
    {% else %}
      <div class="details-edit">
      {% if err == 4 %}
        <div class="error"> You can't edit others' posts!</div>
      {% endif %}
        <a href="/edit/{{id_blog.split('-')[0]+'-4'}}">   
      Edit
      </a>
      </div>
    {% endif %}
    {% endif %}
  </div>
  <div class="post-comments">
  <hr>
   {% if display == 1 %}
     {% if c %}
       <form method="post">
        <div class="comments">
          <div class="comment-author">
            <em>{{ c.user_name }}</em>
          </div>
          <textarea class="comment-content" name="blog-comment">{{ c.comment_content| safe }}</textarea>
        </div>
        <div class="comment-editing">
          <input class="comment-submit" type="submit" value="Edit">
        </div>
      </form>
      <div class="res-del">
        <div class="reset">
          <form method="post">
            <input type="hidden" name="comment-reset" value="1">
            <div>
              <input class="com-reset" type="submit" value="Reset">
            </div>
          </form>
        </div>
        <div class="delete">
          <form method="post">
            <input type="hidden" name="comment-delete" value="1">
            <div >
              <input class="com-delete" type="submit" value="Delete">
            </div>
          </form>
        </div>
      </div>
       {% else %}
        <form method="post">
          <div class="comments">
            <div class="comment-author">
              <em>{{ username }}</em>
            </div>
            <textarea class="comment-content" name="blog-comment"></textarea>
          </div>
          <div class="comment-button">
            <input class="comment-submit" type="submit" value="Comment">
          </div>
        
        </form>
        <hr>
      </div>
     {% endif %}
   {% endif %}

  {% if display == 1 or display == 2 %}
    {% if count_comment %}
     <div class="post-pre-comments"> 
      <div class="pre-comment">Comments</div>
      {% for comment in comments %}
        {% if comment.comment_id != c.comment_id %}
          <div class="comments">
              <div class="comment-author">
              <em>{{ comment.user_name }}</em>
              </div>
              <div class="comment-content">
              {{ comment.comment_content | safe}}
              </div>
          </div>
          {% if comment.user_name == username %}
            <div class="comment-modify">
              <div class="comment-edit">
                <form method="post">
                  <input type="hidden" name="edit-comment" value="{{ comment.comment_id }}">
                  <input class="edit-del" type="submit" value="Edit">
                </form>
              </div>
              <div class="comment-delete">
                <form method="post">
                  <input type="hidden" name="delete-comment" value="{{ comment.comment_id }}">
                  <input class="edit-del" type="submit" value="Delete">
                </form>
              </div>
            </div>
          {% endif %}
          {% if username and comment.user_name != username %}
            <div class="no-edit">
              
              {% if err == 5 %}
                <div class="error">You can't edit others' comments </div>
              {% endif %}
                <a href="/edit/{{id_blog.split('-')[0]+'-5'}}">
                  <button class="edit-del">Edit</button>
                </a>
            
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
  </div>
  </div>